body {
    color: #212221;
}

#versionBox {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: wheat;
}

#versionBox button {
    position: absolute;
    bottom: 0;
    right: 0;
}