body {
    color: #212221;
}

#versionBox {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: wheat;
    text-align: right;
}

#campfireContainer {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: wheat;
    text-align: right;
}
